# Virtual environment
.venv/*
env/*
venv/*
# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info

# Log files
*.log

# Editor-specific files
.vscode/
.idea/*

# OS-specific files
.DS_Store
Thumbs.db

.qwen/*
# Environment variables
.env

# Uploads and vector store
uploads/
vector_store/